.ArticleCard-wrapper {
  @include jcsb;

  overflow: hidden;
  height: 36px;
  box-sizing: border-box;
}

.id {
  @include jcc;

  border-radius: 4px;
  width: 36px;
  height: 100%;
  color: white;
  background: gray;
}

.title {
  @include ellipsis(1);

  margin: 0 10px;
  font-size: 20px;
  font-weight: bolder;
  flex: 1;
  box-sizing: border-box;
}

.ctrl {
  width: 200px;
}