body {
  display: block;
  overflow-x: hidden;
  width: 100vw; 
  height: 100vh;
  background-color: rgb(241 242 242);
}

a {
  text-decoration:none;
  color:#333333;
}

[role] {
  cursor: pointer;
}

li {
  list-style: none;
}

.bytemd {
  min-height: calc(100vh - 100px) !important;
}

.markdown-body {
  min-height: calc(100vh - 100px) !important;
}

ul {
  margin: 0;
  padding: 0;
}