.askItem-wrapper {
  @include jcsb;

  border-bottom: 1px solid rgb(226 226 226);
  padding: 10px;
  width: 789px;
  background: white;
  box-sizing: border-box;
}

.askItem-middle {
  overflow: hidden;
  margin-right: 30px;
  margin-left: 10px;
  flex: 1;
}

.middle-question {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.middle-ctl {
  display: flex;
}

.ctl-item {
  @include jcsb;

  overflow: hidden;
  border-radius: 17px;
  width: 117px;
  height: 30px;
  background: rgb(247 247 247);
  
  & > img {
    display: block;
  }
}

.agree {
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(222 224 225);
  padding: 3px 10px;
  padding-right: 10px;

  &:hover {
    border-radius: 17px 0 0 17px;
    background: rgb(232 232 232);  
  }
}

.fuck {
  padding: 3px 10px;

  &:hover {
    border-radius: 0 17px 17px 0;
    background: rgb(232 232 232);  
  }
}

.comment-num {
  @include jcc;

  overflow: hidden;
  border-radius: 8px;
  min-width: 20px;
  background: #AAB0C6;
}