.question-card{
  @include jcsb;
}
.info {
  @include jcc;
}
.id {
  background: rgb(241, 242, 242);
  height: 44px;
  width: 44px;
  @include jcc;
  overflow: hidden;
  border-radius: 4px;
  margin-right: 10px;
}
.content {
  @include ellipsis(1);
}
.ctrl {
  height: 44px;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  @include jcsb;
  overflow: hidden;
  border-radius: 4px;
}
.like {

}

.dislike {
  
}