.question-title {
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;
  background: white;
  box-sizing: border-box;
}

.question-wrapper {
  box-sizing: border-box;
  padding: 10px;

  > li {
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid tomato;
    border-radius: 4px;
    padding: 10px;
    background: rgb(241 242 242);
    box-sizing: border-box;
    cursor: pointer;

    > :hover {
      background: rgb(241 242 242 / 30%);
    }
  }
}

.id {
  @include jcc;

  border-radius: 4px;
  width: 36px;
  height: 100%;
  color: white;
  background: gray;
}

.title {
  @include ellipsis(1);

  margin: 0 10px;
  font-size: 20px;
  font-weight: bolder;
  flex: 1;
  box-sizing: border-box;
}

.ctrl {
  width: 200px;
}

.answer-detail {
  min-height: calc(100vh - 100px);
  background: white;

  > h2 {
    padding-left: 20px;
    font-weight: bolder;
  }
}
