.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgb(0 0 0 / 22%);
  padding: 0 240px;
  width: 100%;
  min-height: 50px;
  background: white;
  box-sizing: border-box;

  @include jcsb;
}

.header-middle {
  flex: 1;
  margin: 0 300px 0 30px;
}
