@mixin jcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin jcsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin ellipsis($linenum) {
  display: -webkit-box; /* 盒子类型 */
  overflow: hidden;
  text-overflow: ellipsis; /* 溢出时用... */
  -webkit-box-orient: vertical;
  word-break: break-all; /* 自动换行的处理方法。允许在单词内换行 */
  -webkit-line-clamp: $linenum;
}