# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\demospace\cn_quora\quora_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
