.user-wrapper {
  background: white;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 10px;
  min-height: calc(100vh - 50px);
  font-weight: bolder;
}

.active {
  color: #ccc;
  border-bottom: 1px  solid gray;
}