.article-wrapper {
  box-sizing: border-box;
  padding: 10px;

  > li {
    overflow: hidden;
    border-bottom: 1px solid tomato;
    border-radius: 4px;
    padding: 10px;
    background: rgb(241 242 242);
    box-sizing: border-box;

    :hover {
      background: rgb(255 255 255 / 40%);
    }
  }
}